body{
    font-family: 'Quicksand', sans-serif;
    background: #EEEEEE 0% 0% no-repeat padding-box;

}

body,html{
    height: 100%;
}
h1{
    margin: 0 ;
   
}
.header{
margin-top: 0;
height: 56px;
font-size: 18px;

opacity: 0.8;
background:url("/images/headerpattern.png");
width: 100%;
}
main{height: 100%;}
.img{
    margin-left: 24px;
    margin-top: 10px;
    
}
.logform{
    width: 488px;
    
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;

border-top: 4PX solid skyblue;

}
.arrow{
    text-align: left;

color: #1F7A54;

padding: 0 77px 0 32px;
}
.loghead{
    
    color: #222222;
    font-weight: 500;
    font-size: 24px;
    
   
}
.radio{
    text-align: left;
    color: #1F7A54;
    margin-right: 8px;
    margin-bottom: 23px;
}
.formcont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 32px 0;
    height: 670px;
    
}
.select{
    font-size: 12px;
    text-align: left;
    font-size: 12px;
    color: #666666;
    margin-top: 23px;
    
}
select{
    width: 424px;
    height: 30px;
    border-width: 0 0 1px 0;
    border-color: #666666;
    font-family: inherit;
    margin-bottom: 23px;
    font-size: 16px;
}
form{
    height: 100%;
    margin: 0 32px 0 32px;
}
.text{
    width: 424px;
    height: 25px;
    border-width: 0 0 1px 0;
    border-color: #666666;
    margin-top: 33px;
    font-size: 16px;
}
.forget{
    text-align: right;
    width: 424px;
    
    font-size: 14px;
}
.forgett{
    color: #3FD28B;
    text-decoration: none;
}
.checkbox{
    color: #1F7A54;
    margin-right: 5px;
    
}
.bot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 424px;
    height: 78px;
}
.button{
    width: 216px;
    height: 40px;
    background-color: #3FD28B;
    box-shadow: 0px 3px 5px #0000003D;
    border: none;
}

.abouti{
    padding-right: 10px;
    color: #3FD28B;
    border-right: 1px solid grey;
    text-decoration: none;
}
.footer{
    color: #616161;
    height: 40px;
    background: #E0E1E1 0% 0% no-repeat padding-box;
    padding-top: 20px;
    bottom: 0;
    
}
.footimg{
    border-right: 1px solid gray;
    margin-right: 16px;
    padding-right: 16px;
}
.pass {
    
    background: url("preview.svg") no-repeat right;
    background-size: 20px
}
footer{
   
    width: 100%;
    position: fixed;
	bottom: 0;
    text-align: center;
}
  


